.labelForm {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.labelTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.erroMessage{
    color: red;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.buttonSend{
    margin-top: 40px;
    background: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
}
